#target-gist, #explanation {
  margin: 2px;
  padding: 5px 15px 0 15px;
  border-left: solid 1px #ccc;
  overflow: auto;
}

.file {
  border-top: solid 1px;
  margin-bottom: 30px;
}

.line-numbers pre, .line-contents pre {
  white-space: pre;
  border-radius: 0;
}

.line-numbers pre {
  padding: 0 4px;
  text-align: right;
}

.line-contents pre {
  padding: 0 0;
  margin-right: 1px;
  background-color: white;
}

.line-contents pre div {
  padding-left: 5px;
}

.line {
  display: inline-block;
}

.highlighted {
  background-color: #ffffcc
}
