<ul class="pager">
  <li class="previous">
    <a href="#/<%- thisGistId %>/<%- currentSectionNumber - 1 %>">&larr; Previous</a>
  </li>
  <% if (length < currentSectionNumber + 1) { %>
    <li class="next disabled">
      <a href="#/<%- thisGistId %>/<%- currentSectionNumber %>">Next &rarr;</a>
    </li>
  <% } else { %>
    <li class="next">
      <a href="#/<%- thisGistId %>/<%- currentSectionNumber + 1 %>">Next &rarr;</a>
    </li>
  <% } %>
</ul>
<div class="article">
  <h1><%- caption %></h1>
  <ul class="target-list">
    <% for (var i = 0; i < targetList.length; i++) { %>
      <%
        var target = targetList[i];
        var targetName = target[0];
        var lines = target[1];

        var validName = targetName.replace(/\./g, '-').trim();

        var targetFileId = 'gist-' + validName
        var targetLineId = function(line) { return validName + '-' + line; }
      %>
      <li>
        <button class="js-file-link btn btn-link" data-target="<%- targetFileId %>"><%- targetName %></button> :
        <% for (var j = 0; j < lines.length; j++) { %>
          <% var line = lines[j]; %>
          <button class="js-line-link btn btn-small" data-target="<%- targetLineId(line) %>"><%- line %></button>
          <%-  %>
        <% } %>
      </li>
    <% } %>
  </ul>
  <%= el.innerHTML %>
</div>
